# System-wide configuration file for pkg(1)
# For more information on the file format and 
# options please refer to the pkg.conf(5) man page

PACKAGESITE	= ftp://ftp.freebsd.org/pub/pkgng
PKG_DBDIR	= /var/db/pkg
PKG_DBCACHE	= /var/cache/pkg
