# System-wide configuration file for pkg(1)
# For more information on the file format and
# options please refer to the pkg.conf(5) man page

# Configuration options
PACKAGESITE	    : http://pkg.freebsd.org/${ABI}/latest
#PKG_DBDIR	    : /var/db/pkg
#PKG_CACHEDIR	    : /var/cache/pkg
#PORTSDIR	    : /usr/ports
#PUBKEY		    : /etc/ssl/pkg.conf
#HANDLE_RC_SCRIPTS  : NO
#PKG_MULTIREPOS	    : NO
#ASSUME_ALWAYS_YES  : NO
#SYSLOG		    : YES
#SHLIBS		    : NO
#AUTODEPS	    : NO
#PORTAUDIT_SITE	    : http://portaudit.FreeBSD.org/auditfile.tbz
#PKG_PLUGINS_DIR    : /usr/local/lib/pkg/plugins
#PKG_ENABLE_PLUGINS : YES
#PLUGINS	    : [commands/mystat]
#REPO_AUTOUPDATE    : YES

# Repository definitions
#repos:
#  default : http://example.org/pkgng/
#  repo1 : http://somewhere.org/pkgng/repo1/
#  repo2 : http://somewhere.org/pkgng/repo2/

